*.pickle
/_build
/zotero.bib
.doctrees/index.doctree
.doctrees/pictures.doctree
.doctrees/simulations.doctree
.doctrees/travdoc.doctree
.doctrees/zrefs.doctree
source/.htaccess
source/index.html.md.erb
source/keybase.txt
source/pictures.html.md.erb
source/robots.txt
source/simulations.html.md
source/sitemap.xml.builder
source/tests.htm.md.erb
source/travdoc.html.md.erb
source/images/bullet.png
source/images/favicon.png
source/images/IF.png
source/images/Ising3D.jpg
source/images/VB.jpg
source/images/sims/DLA.1000.png
source/images/sims/DLA.2000.png
source/images/sims/DLA.4000.png
source/images/sims/Ising-0.881-1000.png
source/images/sims/Ising-0.900-1000.png
source/images/sims/LERW.png
source/images/sims/Lines.png
source/images/sims/Perco-bond.png
source/images/sims/Perco-site.png
source/images/sims/Perco.grad.png
source/images/sims/Piv.png
source/images/sims/SAW.png
source/images/sims/SLE-1-500-20856904.png
source/images/sims/SLE-1-1000-2085690.png
source/images/sims/SLE-2-500-20856904.png
source/images/sims/SLE-2-1000-2085690.png
source/images/sims/SLE-3-500-20856904.png
source/images/sims/SLE-3-1000-2085690.png
source/images/sims/SLE-3.5-1000-2085690.png
source/images/sims/SLE-4-500-20856904.png
source/images/sims/SLE-4-1000-2085690.png
source/images/sims/SLE-4.5-1000-2085690.png
source/images/sims/SLE-5-500-20856904.png
source/images/sims/SLE-5-1000-2085690.png
source/images/sims/SLE-6-500-20856904.png
source/images/sims/SLE-6-1000-2085690.png
source/images/sims/SLE-6-2000.png
source/images/sims/SLE-7-500-20856904.png
source/images/sims/SLE-7-1000-2085690.png
source/images/sims/SLE-8-500-20856904.png
source/images/sims/SLE-8-1000-2085690.png
source/images/sims/thumbs/DLA.1000.png
source/images/sims/thumbs/DLA.2000.png
source/images/sims/thumbs/DLA.4000.png
source/images/sims/thumbs/Ising-0.881-1000.png
source/images/sims/thumbs/Ising-0.900-1000.png
source/images/sims/thumbs/LERW.png
source/images/sims/thumbs/Lines.png
source/images/sims/thumbs/Perco-bond.png
source/images/sims/thumbs/Perco-site.png
source/images/sims/thumbs/Perco.grad.png
source/images/sims/thumbs/Piv.png
source/images/sims/thumbs/SAW.png
source/images/sims/thumbs/SLE-1-500-20856904.png
source/images/sims/thumbs/SLE-1-1000-2085690.png
source/images/sims/thumbs/SLE-2-500-20856904.png
source/images/sims/thumbs/SLE-2-1000-2085690.png
source/images/sims/thumbs/SLE-3-500-20856904.png
source/images/sims/thumbs/SLE-3-1000-2085690.png
source/images/sims/thumbs/SLE-3.5-1000-2085690.png
source/images/sims/thumbs/SLE-4-500-20856904.png
source/images/sims/thumbs/SLE-4-1000-2085690.png
source/images/sims/thumbs/SLE-4.5-1000-2085690.png
source/images/sims/thumbs/SLE-5-500-20856904.png
source/images/sims/thumbs/SLE-5-1000-2085690.png
source/images/sims/thumbs/SLE-6-500-20856904.png
source/images/sims/thumbs/SLE-6-1000-2085690.png
source/images/sims/thumbs/SLE-6-2000.png
source/images/sims/thumbs/SLE-7-500-20856904.png
source/images/sims/thumbs/SLE-7-1000-2085690.png
source/images/sims/thumbs/SLE-8-500-20856904.png
source/images/sims/thumbs/SLE-8-1000-2085690.png
source/layouts/layout.erb
source/pdfs/bib/BBT2013.pdf
source/pdfs/bib/BBT2013a.pdf
source/pdfs/bib/BCJ2018.pdf
source/pdfs/bib/BD2012.pdf
source/pdfs/bib/BD2012a.pdf
source/pdfs/bib/BD2013.pdf
source/pdfs/bib/BD2014.pdf
source/pdfs/bib/BDR2014.pdf
source/pdfs/bib/BDS2015.pdf
source/pdfs/bib/Beffara2001.pdf
source/pdfs/bib/Beffara2003.pdf
source/pdfs/bib/Beffara2004.pdf
source/pdfs/bib/Beffara2007.pdf
source/pdfs/bib/Beffara2008.pdf
source/pdfs/bib/Beffara2008a.pdf
source/pdfs/bib/Beffara2009.pdf
source/pdfs/bib/Beffara2011.pdf
source/pdfs/bib/Beffara2011a.pdf
source/pdfs/bib/Beffara2012.pdf
source/pdfs/bib/Beffara2015.pdf
source/pdfs/bib/Beffara2015a.pdf
source/pdfs/bib/BFV2010.pdf
source/pdfs/bib/BG2017.pdf
source/pdfs/bib/BG2017a.pdf
source/pdfs/bib/BH2017.pdf
source/pdfs/bib/BN2011.pdf
source/pdfs/bib/BPW2018.pdf
source/pdfs/bib/BSS+2006.pdf
source/pdfs/bib/BSV2010.pdf
source/pdfs/slides/BG2017a.pdf
source/pdfs/slides/Porquerolles.pdf
source/stylesheets/site.css.scss
