{% extends "!layout.html" %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block footer %}{% endblock %}

{% block sidebar2 %}
<div id="preamble">
  <a href="http://www-fourier.ujf-grenoble.fr"> <img src="{{ pathto('_static/IF.png', 1) }}" alt="If"> </a>

  <h2>Contact</h2>
  <ul>
    <li>Université Grenoble Alpes<br />Institut Fourier<br />100 rue des Maths<br />38058 Grenoble cedex 9</li>
    <li>Tel: 04 76 51 44 58<br /> Fax: 04 76 51 44 78</li>
    <li><a href="mailto:Vincent.Beffara@univ-grenoble-alpes.fr">Vincent.Beffara@univ-grenoble-alpes.fr</a></li>
  </ul>

  <h2>Navigation</h2>
  {{ toctree(maxdepth=1, collapse=False, includehidden=true) }}

  <h2>Links</h2>
  <ul>
    <li><a href="http://images.math.cnrs.fr/">Images des Maths</a></li>
    <li><a href="http://www.mathdoc.fr/">Cellule Mathdoc</a></li>
    <li><a href="http://jps.math.cnrs.fr/">Colloque JPS</a></li>
  </ul>
</div>
{% endblock %}
