<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ title|striptags|e }} - Vincent Beffara</title>

  <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
  <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
  {%- for css in css_files %}
  {%- if css|attr("rel") %}
  <link rel="{{ css.rel }}" href="{{ pathto(css.filename, 1) }}" type="text/css" {% if css.title is not none %}
    title="{{ css.title }}" {% endif %} />
  {%- else %}
  <link rel="stylesheet" href="{{ pathto(css, 1) }}" type="text/css" />
  {%- endif %}
  {%- endfor %}
  {%- for cssfile in extra_css_files %}
  <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
  {%- endfor %}

  {% block scripts %}
  {%- for scriptfile in script_files %}
  {{ js_tag(scriptfile) }}
  {%- endfor %}
  {% endblock %}

  {# favicon #}
  {# canonical link #}
  {# sitemap #}
</head>

<body>
  <div id="content">
    <article>
      {# logo #}
      <div class="post-content">
        {% block body %}{% endblock %}
      </div>
    </article>
  </div>

  <div id="preamble">
    <a href="http://www-fourier.ujf-grenoble.fr"> <img src="/_static/images/IF.png" alt="If"> </a>

    <h2>Contact</h2>
    <ul>
      <li>Université Grenoble Alpes
        <br /> Institut Fourier
        <br /> 100 rue des Maths
        <br /> CS 40700
        <br /> 38058 Grenoble cedex 9
      </li>
      <li>Tel: 04 76 51 44 58
        <br /> Fax: 04 76 51 44 78
      </li>
      <li><a href="mailto:Vincent.Beffara@univ-grenoble-alpes.fr">Vincent.Beffara@univ-grenoble-alpes.fr</a></li>
    </ul>

    <h2>Navigation</h2>

    {{ toctree(maxdepth=1, collapse=False, includehidden=true) }}

    <h2>Links</h2>
    <ul>
      <li>
        <a href="http://images.math.cnrs.fr/">Images des Maths</a>
      </li>
      <li>
        <a href="http://jps.math.cnrs.fr/">Colloque JPS</a>
      </li>
    </ul>
  </div>
</body>

</html>
